body {
    background: lightblue;
    text-align: center;
    display: block;
}
#survey-form {
    width: 50%;
    background: rgb(183, 184, 216);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    display: block;
    position: relative;
    left: 25%;
    top: 100px;
}

#name-label, #email-label, #number-label {
    font-size: 28px;
}